In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('play_tennis.csv')

In [3]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
data.drop(columns = ['day'],inplace = True)

In [5]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [6]:
# Problem 1

# outlook = Sunny ,Temp = Hot,Humidity = High , Wind = Weak
# Play or No Play?

In [7]:
# Solution 

#P(Yes/ Sunny,Hot,High,Weak) = P(Sunny/Yes)*p(Hot/Yes)*P(High/Yes)*P(Weak/Yes)*P(Yes)

#P(NO/ Sunny,Hot,High,Weak) = P(Sunny/No)*P(Hot/No)*P(High/No)*P(Weak/No)*P(No)

# Compare and decide using the Maximum a posteriori rule

In [8]:
# Problem 2

#Outlook = Overcast , Temp = Cold , Humidity = Low , Wind = Weak
# Play or No Play??

In [9]:
# Solution 

#P(Yes/ Overcast,Cold,Low, Weak ) = P(Overcast/Yes)*p(Cold/Yes)*P(Low/Yes)*P(Weak/Yes)*P(Yes)

#P(NO/ Overcast,Cold,Low, Weak) = P(Overcast/No)*P(Cold/No)*P(Low/No)*P(Weak/No)*P(No)

# Compare and decide using the Maximum a posteriori rule

In [10]:
# Training 
# Lookup Table (Dictionary)

# Testing

In [11]:
#P(Yes)
#P(No)

In [12]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [27]:
py = 9/14
pn = 5/14

print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [28]:
#Outlook 

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [29]:
P_on = 0
P_rn = 2/5
P_ry = 3/9
P_oy = 4/9
P_sn = 3/5
P_sy = 2/9

In [30]:
#Temp

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [31]:
P_cn = 1/5
P_cy = 3/9
P_hn = 2/5
P_hy = 2/9
P_mn = 2/5
P_my = 4/9

In [32]:
#Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [33]:
P_hhighn = 4/5
P_hnormaln = 1/5

P_hhighy = 3/9
P_hnormaly = 6/9

In [34]:
#Wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [35]:
P_wsn = 3/5
P_wwn = 2/5

P_wsy = 3/9
P_wwy = 6/9

In [37]:
# outlook = sunny , temp = Hot , humidity = high , wind = weak 
# P(Yes/ Sunny,Hot,High,Weak) = P(Sunny/Yes)*p(Hot/Yes)*P(High/Yes)*P(Weak/Yes)*P(Yes)

P_yes = P_sy*P_hy*P_hhighy*P_wwy*py
print(P_yes)

0.007054673721340387

In [40]:
P_no = P_sn*P_hn*P_hhighn*P_wwn*pn
print(P_no)

0.02742857142857143

In [ ]:
# No play  as probability of P_no is greater